<!--

Customer customerhome.html
Developed By : Erum Mehmood & Khalid Awan

profile of customer will be displayed after clicking my profile from side bar

-->
{% extends 'customer/cBase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}



<!--<h3 style="text-align:center; color:black;">
    Username: {{ username }} <br />
    Customer ID: {{customer_id}} <br />
    Binary position: {{position }}<br />
    Upliner ID: {{upliner}}
    <br />Referral ID: {{ref_id}}
</h3>-->





<form method="post" enctype="multipart/form-data" id="personForm" data-states-url="{% url 'ajax_load_states' %}" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-3 mb-0">
            {{ form1.customer_id|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form1.upliner|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form1.ref_id|as_crispy_field  }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form1.position|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-3 mb-0">
            {{ form1.username|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form2.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form2.last_name|as_crispy_field }}
        </div>
    </div>
    <p class="text-muted"> Please enter your details to complete profile !</p>

    <div class="form-row">

        <div class="form-group col-md-3 mb-0">
            {{ form2.country|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form2.state|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form2.city|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form2.address|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-3 mb-0">
            {{ form2.zipcode|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form2.mobile|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form2.alternate_mobile|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form2.gender|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-3 mb-0">
            {{ form2.dob|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form2.email|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form2.photo|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form2.cnic|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save Profile</button>
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var countryId = 0
    $("#id_country").change(function () {
        var url = $("#personForm").attr("data-states-url");  // get the url of the `load_states` view
        countryId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/customer/ajax/load-states/)
            data: {
                'country': countryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_states` view function
                $("#id_state").html(data);  // replace the contents of the states input with the data that came from the server
            }
        });

    });
    $("#id_state").change(function () {
        var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_states` view
        var stateId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/customer/ajax/load-states/)
            data: {
                'country': countryId,      // add the country id to the GET parameters
                'state': stateId
            },
            success: function (data) {   // `data` is the return of the `load_states` view function
                $("#id_city").html(data);  // replace the contents of the states input with the data that came from the server
            }
        });

    });
</script>


                    {% endblock content %}
